In [1]:
# Beginnin of vacation.ipynb
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import gmapskey

In [2]:
data_file = pd.read_csv("../Resources/weatherpy.csv")
data_df = pd.DataFrame(data_file)
data_df.head()

,Unnamed: 0,Country,City,Date,Latitude,Longitude,High Temp,Low Temp,Overcast,Wind,Humidity
0,0,ZA,East London,1570476307,-33.02,27.91,60.80,60.80,0,10.29,93
1,1,TD,Abeche,1570476473,13.83,20.83,74.75,74.75,99,17.18,79
2,2,SI,Vrhnika,1570476474,45.96,14.30,59.00,39.99,75,10.29,70
3,3,UA,Sloboda,1570476474,48.46,24.82,30.20,30.20,0,2.24,92
4,4,PF,Atuona,1570476322,-9.80,-139.03,79.43,79.43,47,13.15,70

In [3]:
gmaps.configure(gmapskey)

cities = data_df[['Latitude','Longitude']]

humidity = data_df['Humidity']

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(cities, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
iso_df = data_df.loc[(data_df['High Temp'] <= 80) & (data_df['High Temp'] >= 70) 
                     & (data_df['Wind'] <= 10) & (data_df['Overcast'] == 0)] 

iso_df.count()

Unnamed: 0    16
Country       16
City          16
Date          16
Latitude      16
Longitude     16
High Temp     16
Low Temp      16
Overcast      16
Wind          16
Humidity      16
dtype: int64

In [26]:
iso_df['Hotel Name'] = ''
iso_df['Hotel Latitude'] = ''
iso_df['Hotel Longitude'] = ''
iso_df

C:\Users\marcg\Anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\marcg\Anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\marcg\Anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Unnamed: 0,Country,City,Date,Latitude,Longitude,High Temp,Low Temp,Overcast,Wind,Humidity,Hotel Name,Hotel Latitude,Hotel Longitude
9,9,SO,Bandarbeyla,1570476318,9.49,50.81,77.81,77.81,0,8.97,80,,,
89,89,PT,Lagoa,1570476302,37.14,-8.45,75.00,69.80,0,4.70,73,,,
190,190,IL,Gizo,1570476538,31.80,34.94,77.00,66.00,0,5.82,69,,,
274,274,PK,Khanpur,1570476645,28.65,70.66,77.87,77.87,0,3.76,38,,,
302,302,EG,Marsa Matruh,1570476663,31.35,27.25,75.20,75.20,0,4.70,60,,,
308,308,PH,San Quintin,1570476315,17.54,120.52,70.61,70.61,0,5.44,86,,,
333,333,MZ,Angoche,1570476683,-16.23,39.91,76.05,76.05,0,5.61,81,,,
348,348,OM,Sur,1570476517,22.57,59.53,79.61,79.61,0,8.30,71,,,
404,404,IN,Raikot,1570476728,30.65,75.60,71.98,71.98,0,2.68,51,,,
447,447,KM,Fomboni,1570476756,-12.28,43.74,78.37,78.37,0,7.67,79,,,
450,450,ZA,Nkowakowa,1570476758,-23.89,30.29,75.20,75.20,0,5.82,22,,,
482,482,IR,Kazerun,1570476778,29.62,51.65,74.63,74.63,0,2.13,85,,,
484,484,YT,Dzaoudzi,1570476506,-12.79,45.27,78.80,78.80,0,3.36,78,,,
523,523,OM,Nizwa,1570476805,22.93,57.53,74.34,74.34,0,4.50,65,,,
535,535,IN,Tanakpur,1570476813,29.07,80.11,70.88,70.88,0,3.20,80,,,
549,549,IR,Tabas,1570476825,33.60,56.92,75.20,75.20,0,4.70,14,,,

In [38]:
# adict = {
#     'radius': 5000,
#     'types': 'lodging',
#     'api_key': gmapskey
# }

# for index, row in iso_df.iterrows():
#     lat = row['Latitude']
#     lon = row['Longitude']
    
#     adict['location'] = f'{lat},{lon}'
    
#     url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
#     hotel_name = requests.get(url, params=adict).json()
    
# #     hotel_df.loc["Hotel Name"] = hotel_name["results"]["name"]
# #     hotel_df.loc["Hotel Latitude"] = hotel_name["results"]["geometry"]["location"]["latitude"]
# #     hotel_df.loc["Hotel Longitude"] = hotel_name["results"]["geometry"]["location"]["longitude"]
    
    
#     print(hotel_name)

{'error_message': 'You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
{'error_message': 'You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
{'error_message': 'You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
{'error_message': 'You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
{'error_message': 'You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
{'error_message': 'You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
{'error_message': 'You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
{'error_message': 'You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
{'error_message': 'You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
{'error_message': 'You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
{'error_message': 'You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
{'error_message': 'You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
{'error_message': 'You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
{'error_message': 'You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
{'error_message': 'You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
{'error_message': 'You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}